@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Oswald&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: violet;
}

.header__title {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

@media screen and (max-width: 870px) {
  .header__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .header__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 570px) {
  .header__title {
    font-size: 20px;
  }
}

.header__container {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  background: url(../img/main_background.jpg);
  background-size: cover;
}

.items__container {
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__title {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
}

@media screen and (max-width: 700px) {
  .items__title {
    font-size: 30px;
  }
}

.items__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .items__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.items__form {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 400px) {
  .items__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.items__search {
  width: 300px;
  height: 40px;
  padding: 5px;
}

@media screen and (max-width: 400px) {
  .items__search {
    width: 100%;
  }
}

.items__button {
  height: 40px;
  width: 100px;
  padding: 5px;
  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .items__button {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.items__label {
  font-size: 25px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 400px) {
  .items__label {
    font-size: 20px;
  }
}

.footer {
  background-color: black;
  height: auto;
}

.footer__container {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-size: 30px;
  font-family: 'Ibarra Real Nova', serif;
}

.footer__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .footer__pagination {
    width: 100%;
  }
}

.footer__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__list-item {
  padding: 10px;
  font-size: 30px;
  background-color: aliceblue;
}

.footer li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: orange;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.footer li:hover a {
  color: white;
}

#items li p {
  color: aliceblue;
  font-size: 30px;
  text-shadow: 1px 1px 1px #000;
}

#items li {
  background: url(../img/li_background.jpg);
  background-size: cover;
  padding: 15px;
  width: 45%;
}

@media screen and (max-width: 700px) {
  #items li {
    width: 60%;
  }
}

#items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 700px) {
  #items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}

.active {
  background-color: orange;
}

.active a {
  color: white;
}

.toggle {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}
